<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
        <div class="row">
      <div class="col-xs-8 col-sm-6">
                Ndc: <%= @name["prescriptions"][0]["ndc"] %>
        Name:<%= @name["prescriptions"][0]["name"] %>
      </div>
      <div class="col-xs-4 col-sm-6">
        Dosage:<%= @name["prescriptions"][0]["dosage"]["dosesPerDay"] %> times a day
      </div>



            </div>
    </div>
    <div class="col-md-4">
        Retail 30 days copayment <%= @price_30 %><br>
        Mail 90 days copayment <%= @price_90 %><br>
    </div>
  </div>
</div>

<div>
  <img src="<%= @photo['Items'][0]['ImageUrl'] %>"/>
</div>

<div>
  <% if @druginteractions["DDIScreenResponse"]["DDIScreenResults"].length == 0 %>
    &#10003; You no adverse drug to drug interactions with any of your prescriptions.
  <% else %>
    Warning! <%= @druginteractions["DDIScreenResponse"]["DDIScreenResults"][0]["ScreenMessage"] %>
  <% end %>
</div>
