<div class="container-fluid">
  <div class="row">
    <div class="col-md-8" style="width:20px"></div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="row" style="margin-left: 20px;">
      <div class="col-xs-8 col-sm-6 list_item" >
        <img src="<%= @photo['Items'][0]['ImageUrl'] %>"/>
      </div>
      <div class="col-xs-4 col-sm-6 list_item">
        <%= @name["prescriptions"][0]["name"] %><br>
        <%= @name["prescriptions"][0]["dosage"]["dosesPerDay"] %> times a day
      </div>



            </div>
    </div>
    <div class="col-md-4">
      <div class="list_price">
        $<%= @price_30 %></div>
        <div id="per_month">30 days retail</div>
      <div class="list_price">
        $<%= @price_90 %><br>
      </div>
      <div id="per_month">90 days mail order</div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2 text">
  <% if @druginteractions["DDIScreenResponse"]["DDIScreenResults"].length == 0 %>
    You have no adverse drug to drug interactions with any of your prescriptions.<br>
  <% else %>
    Warning! <%= @druginteractions["DDIScreenResponse"]["DDIScreenResults"][0]["ScreenMessage"] %>
  <% end %>
</div>

<div class="col-md-8 col-md-offset-2 text">
<div class="list_item"></div>We checked to see if there are any drugs you can take that are cheaper.<br>
<% if @cheapestdrugs.length > 0 %>
  <b>The candidate(s):</b><br>
  <%= @cheapestdrugs.each do |drug| %>
    &#10003;<%= drug[0] %> Price: $<%= drug[1] %>
    <br>
  <% end %>
<% else %>
  We did not find any candidates.
<% end %>
</div>
</div>